/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 20px;
  margin: 20px auto;
  max-width: 1128px;
}
img {
  width: 100%;
  height: 200px;
  transition: transform 200ms ease-in-out;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  height: 200px;
}
img:hover {
  transform: scale(1.05);
}
.main-form {
  display: flex;
  justify-content: center;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  gap: 8px;
}
.feedback-form button {
  width: 95px;
  height: 40px;
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  margin-left: 24px;
  transition: background-color 250ms ease-in-out;
  margin-top: 8px;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
label {
  padding: 0 24px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  width: 360px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  gap: 8px;
}
label:nth-child(1) {
  padding-top: 24px;
}
label input,
label textarea {
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid #808080;
  border-radius: 4px;
}
label textarea {
  height: 80px;
}
label input:hover,
label textarea:hover {
  border: 1px solid #000000;
}
label input:focus,
label textarea:focus {
  border: 1px solid #808080;
  outline: none;
}
